body{
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    --bg-clr:#010101;
    background-color: var(--bg-clr);
}

.text{
    background-image: linear-gradient(120deg, #ff7a00,#ff7aee);
    font-size: 48px;
    font-family: "Arial Black";
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-stroke:6px transparent;
    color: var(--bg-clr);
}